pyrofork==2.3.45
tgcrypto-pyrofork
pymongo==4.13.2
motor==3.7.1
marshmallow<4.0.0
umongo
requests
bs4
shortzy
datetime
pytz
aiohttp



# Other tools
opencv-python-headless==4.8.1.78
python-dotenv==0.21.1
PyLeaves==1.0.2
humanize
Pillow
psutil
numpy
wheel
ujson
wget
aiofiles
dnspython==2.7.0
python-decouple
ffmpeg-python==0.2.0
jinja2
apscheduler
pyshorteners
pyromod
colorama
fuzzywuzzy
Levenshtein==0.24.0


# Git-based Packages
git+https://github.com/Joelkb/cinemagoer